.reason-select {
  height:33px;
}
.message-area {
  resize: none;
  height: 150px;
}
.contact-button {
  text-align: right;
}
.contact-button{
  button {
    background: #ccc;
    border: none;
    width: 25%;
    box-shadow: 0px 0px 1px 0px;
    color: #000;
  }
}
