<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Contact Us</h3>
    </div>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-4">
        <input type="text" formControlName="name" class="form-control" placeholder="Name"/>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <input type="text" formControlName="email" class="form-control" placeholder="Email address"/>
      </div>
      <div class="col-md-4">
        <select name="reason" id="" class="form-group reason-select" formControlName="reason">
          <option value="" disabled selected>Reason for contact</option>
          <option [value]="reason" *ngFor="let reason of reasons">{{reason}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <textarea formControlName="message" class="form-control message-area" placeholder="Message"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group contact-button">
          <button class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
