<div class="row top-bar">
  <div class="col-md-4">
    <h4>Blog</h4>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <select name="languages" id="language-selection" placeholder="Language" class="language-dropdown" [(ngModel)]="selectedLang" (change)="getLanguage(selectedLang)">
      <option value="" disabled selected>Language</option>
      <option [value]="language" *ngFor="let language of languageArr">{{language}}</option>
    </select>
  </div>
</div>
<div class="container">
  <div class="row blog-section">
    <div class="col-md-12" *ngFor="let blog of blogList">
      <div class="row blog-card">
        <div class="col-md-10">
          <a href="https://www.healthcare.gov{{blog.url}}" target="_blank"><h3 class="blog-title">{{blog.title}}</h3></a>
          <p class="category-list"><i>in <span *ngFor="let category of blog.categories; let i = index">{{category}}<ng-container *ngIf="i !== blog.categories.length - 1">, </ng-container></span></i></p>
        </div>
        <div class="col-md-2 date-tag">
          <h5>{{blog.date | date: 'MM/dd/yyyy'}}</h5>
        </div>
      </div>
      <div class="row blog-content">
        <div class="col-md-12">
          <p>{{blog.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
